<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" 
  integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/assets/js/custome.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="top-nav">
                <div class="logo">
                    <h3 class="logo">Ore<span style="font-size: 8px;color: purple">recipes</span></h3>
                </div>
                <div>
                    <a href="/logout" > Logout </a>
                </div>
            </div>
        </div>
        
      <div class="nav-container">
        <nav class="nav-items">   
            
            <div>
                <a href="/recipes" > Recipes </a>
            </div>
            <div>
                <a href="/resturants" > Resturants </a>
            </div>
            <div>
                <a href="/users" > Users </a>
            </div>
        </nav>
      </div>         
      <div class="profile-container">
          <h4>Profile</h4>
          <div class="card">
            <div class="profile-card-img ">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""/>
            </div>
            <div class="details">
                <h5><%= name %></h5>
                <div><%= email %></div>
                <div><%= phone %></div>
            </div>
          </div>
      </div>
    </div>

</body>
</html>