<div class="nav-container">
    <nav class="nav-items">   
        
        <div>
            <a href="/recipes" > Recipes </a>
        </div>
        <div>
            <a href="/resturants" > Resturants </a>
        </div>
        <div>
            <a href="/users" > Users </a>
        </div>
    </nav>
</div>
